
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap'); 

:root{
    --main-color:rgba(43, 76, 111, 1);
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    /*transition: all 0.2s linear;*/
    line-height: 1.5;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    background:#ffffff;
    padding-left: 30rem;
}
section{
    padding: 1rem 5%;
    min-height: 100vh;
}

header{
    position: fixed;
    top: 0; left: 0; bottom: 0;
    background: rgba(43, 76, 111, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column nowrap;
    padding: 8rem 2rem;
    width: 25rem;
    text-align: center;
    border-right: 0.5rem solid rgba(217, 0, 0, 1); /* borde delgado de 1 píxel de ancho, sólido y de color negro */
}

header .logo{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 2rem;  /* tamanio del texto */
    font-weight: bolder;
}
header .logo span{
    text-transform: uppercase;
    color: var(--main-color);
}

header .navbar a{
    display: block;
    font-size: 2rem;
    color: #ffffff;
    margin-left: -10px; 
    margin-right: -10px; 
    font-size: 3em;
}
header .navbar a:hover{
   /* color: #ff9900;
    font-size: 3em;*/
    background-color:rgb(68, 127, 255) ;
    box-shadow: 0 0 10px rgb(68, 127, 255), 0 0 20px rgb(68, 127, 255), 0 0 20px rgb(68, 127, 255);
}

.fcyt {
    width: 100px; /* Ancho deseado */
    height: auto; /* Altura automática para mantener la proporción */
}
.btn-group-vertical a svg {
    vertical-align: top; /* Posiciona el SVG en la parte superior */
    
}

.navbar {
    display: flex; /* Utiliza flexbox para alinear los elementos */
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    height: 100%; /* Establece la altura del navbar */
}

.btn-group-vertical {
    text-align: center; /* Centra los elementos hijos horizontalmente */
    text-transform: uppercase;
}


header a{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-family: 'Roboto', sans-serif;
}



.container{
    background: rgba(217, 217, 217, 1);
}
/*----------------reponsive-----------*/
@media (max-width:700px) {
    header{
        width: 14rem;
        
    }
    body{
        background:#03ffea;
        padding-left: 16rem;
    }
    .btn-group-vertical{
        transition: 2s ease-in-out;
        font-size: 0px;
    }
}

@media (max-width:701px) {
    .btn-group-vertical{
        transition: 0.5s ease-in-out;
        font-size: 0px;
    }
}
