/* 
.notificaciones {
    display: flex; 
    align-items: center; 
  }
  
  .perfil-usuario{
    display: flex; 
    align-items: center; 
  }

  .notificaciones i {
    font-size: 24px; 
    color: #2B4C6F;
    border: 2px solid #2B4C6F; 
    border-radius: 50%; 
    padding: 10px; 
    box-sizing: border-box; 
    cursor: pointer; 
    width: 35px; 
    height: 35px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-right: 10px; 
  }

  .perfil-usuario i {
    font-size: 34px; 
    color: #2B4C6F;
    box-sizing: border-box; 
    cursor: pointer; 
    width: 35px; 
    height: 35px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin-right: 10px; 
  }
  .notificaciones-link {
    position: relative; 
  }
  
  .notificaciones-link::after {
    content: attr(data-count); 
    position: absolute; 
    top: -5px; 
    right: -5px; 
    background: #ff0000; 
    color: white; 
    width: 18px; 
    height: 18px; 
    border-radius: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-size: 9px; 
    font-weight: bold; 
    border: 1px solid white; 
    margin-right: 10px; 
  }
.notif{
    font-size: 1.2rem; 
}

.notification-dot {
    position: absolute;
    bottom: -5px;  
    transform: translateX(-50%);
    width: 8px;  
    height: 8px; 
    background-color: #2B4C6F; 
    border-radius: 50%;
}
.header .bi-person {
  font-size: 18px; 
  cursor: pointer;
  color: #ffffff;
}
.header .bi-box-arrow-right {
  font-size: 18px; 
  cursor: pointer;
  color: #ffffff;
}
.perfil-usuario .dropdpwn-menu{
  display: none;
  position: absolute;
  top: 55px;
  right: 80px;
  left: 85%;
  padding: 0;
  box-shadow: 0 1px 30px rgb(0, 0, 0);
  border-radius: 5px;
  overflow: hidden;
  z-index: 1000;
}
.perfil-usuario .dropdpwn-menu a{
  display: flex;
  color: #ffffff;  
  text-decoration: none;
  background-color: #003366;
  align-items: center;
}
.perfil-usuario .dropdpwn-menu .perfil-link {
  background-color: #929292; 
}

.perfil-usuario .dropdpwn-menu a:hover {
  background-color: #5789bb;
} */