
.btn-reserva {
    width: 150px; /* El botón ocupará el 100% del ancho disponible */
}

#btn-siguiente {
    float: right; /* Alinea el botón a la derecha */
}
#formularioEditReserva .modal-content.edith-reserva label {
    text-align: left;
}

.custom-btn-group .btn {
    margin-right: 2px;
}

@media (max-width: 750px) {
    .custom-btn-group {
        flex-direction: column;
    }
    .borde{
        border-radius:5px;     
    }

    .custom-btn-group .btn {
        margin-bottom: 1px;
    }
}