
.btn-reserva {
    width: 150px; /* El bot칩n ocupar치 el 100% del ancho disponible */
}

#btn-siguiente {
    float: right; /* Alinea el bot칩n a la derecha */
}
#formularioEditReserva .modal-content.edith-reserva label {
    text-align: left;
}


/* Estilos para dispositivos m칩viles */
@media (max-width: 767px) {
    .btn-reserva {
        width: 100%; 
    }
}